<a class="hover:text-gray-600 text-gray-800 px-3 py-2 flex items-center text-xs uppercase font-bold" href="#pablo"
   (click)="toggleDropdown($event)" #btnDropdownRef>
  <i class="fas fa-globe" *ngIf="translate.currentLang!=undefined"  style="color: #000000"> {{translate.currentLang}}</i>
  <i class="fas fa-globe" *ngIf="translate.currentLang==undefined"  style="color: #000000"> {{translate.defaultLang}}</i>
</a>
<div class="bg-white text-base z-50 float-left py-2 list-none text-left rounded shadow-lg min-w-48"
     [ngClass]="dropdownPopoverShow ? 'block' : 'hidden'" #popoverDropdownRef>
  <a (click)="useLanguage('fr')" class="text-sm py-2 px-4 font-normal block w-full whitespace-no-wrap bg-transparent text-gray-800">
    <i  class="flag-icon flag-icon-fr ml-4"></i> {{'navbar.langue.fr' | translate}}
  </a>
  <a (click)="useLanguage('en')" class="text-sm py-2 px-4 font-normal block w-full whitespace-no-wrap bg-transparent text-gray-800">
    <i class="flag-icon flag-icon-us ml-4"></i> {{'navbar.langue.en' | translate}}
  </a>
  <a (click)="useLanguage('ar')" class="text-sm py-2 px-4 font-normal block w-full whitespace-no-wrap bg-transparent text-gray-800">
    <i class="flag-icon flag-icon-sa ml-4"></i> {{'navbar.langue.ar' | translate}}
  </a>
</div>
