<app-auth-navbar></app-auth-navbar>
<main>
    <div class="relative pt-16 pb-32 flex content-center items-center justify-center min-h-screen-75">

        <div class="absolute top-0 w-full h-full bg-center bg-cover" style="
        background-image: url('https://i.ibb.co/NY2LjqG/3.jpg');">
            <span id="blackOverlay" class="w-full h-full absolute opacity-75 bg-black"></span>
        </div>
        <div class="container relative mx-auto">
            <div style="max-width: 75% !important; margin-left: 12%;position: relative;" *ngIf="showModal" class="overflow-x-hidden overflow-y-auto relative inset-0 z-50 outline-none focus:outline-none justify-center items-center ">
                <div class="relative w-auto my-6 mx-auto max-w-sm">
                    <!--content-->
                    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
                        <!--header-->
                        <div class="flex items-start justify-between p-5 border-b border-solid border-gray-300 rounded-t">
                            <h3 class="text-3xl font-semibold">
                                Nouveau Contenus
                            </h3>
                            <button class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none" (click)="toggleModal()">
                      <span class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
                        ×
                      </span>
                    </button>
                        </div>
                        <!--body-->
                        <div class="relative p-6 flex-auto">
                            <form [formGroup]="ContenusForm" (ngSubmit)="onSaveContenus()">
                                <div class="flex flex-wrap -mx-3 mb-6">
                                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                                 Titre
                                </label>
                                        <textarea formControlName="titre" style="resize: 50%;overflow: auto;" placeholder="titre -> tirez pour agrandir la taille" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"></textarea>
                                    </div>
                                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-city">
                                Fichier</label>
                                        <div class="input-group">
                                            <input type="file" formControlName="contenus" (change)="detectFiles($event)" accept=".pdf,.doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">
                                        </div>
                                        <span *ngIf="fileUploaded" class="text-xs text-center font-semibold inline-block py-1 px-2 uppercase rounded text-green-600 bg-green-200 uppercase last:mr-0 mr-1">
                                  Fichier chargé !
                                </span>
                                    </div>
                                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
                                  Details
                                  </label>
                                        <textarea formControlName="corps" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" style="resize: auto;overflow: auto;" placeholder="Corps -> tirez pour agrandir la taille"></textarea>
                                    </div>
                                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">

                                        <input type="text" hidden formControlName="dateCreation">
                                        <input type="text" hidden value={{mailcurrent}}>
                                        <input type="text" hidden formControlName="usersEnrroll" value=" ">
                                        <input type="text" hidden formControlName="user" value={{user}}>

                                    </div>

                                    <div class="w-full lg:w-6/12 px-4">
                                        <div class="relative flex w-full flex-wrap items-stretch mb-3">
                                            <select id="inputState" class="form-control block appearance-none
                                          w-full bg-white border border-gray-400 hover:border-gray-500
                                          px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none
                                          focus:shadow-outline" formControlName="zone">
                                              <option  disabled value=""> <strong>Type </strong></option>
                                              <option value="GUIDE" >GUIDE</option>
                                              <option value="BD" >BD</option>
                                              <option value="MODULE">MODULE</option>
                                              <option value="MANUEL">MANUEL</option>
                                              <option value="PIECE DE THEATRE">PIECE DE THEATRE</option>
                        </select>
                                        </div>
                                    </div>
                                    <div class="w-full lg:w-6/12 px-4">
                                        <div class="relative flex w-full flex-wrap items-stretch mb-3">
                                            <select id="inputState" class="form-control block appearance-none w-full
                                           bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8
                                           rounded shadow leading-tight focus:outline-none focus:shadow-outline" formControlName="etablissement">
                        <option  disabled value=""> Etablissement </option>
                        <option value="prive" >Privé</option>
                        <option value="public" >Public</option>
                        <option value="mahadra">Mahadra</option>

                    </select>
                                        </div>
                                    </div>


                                </div>
                                <div class="flex items-center justify-center p-6 border-t border-solid border-gray-300 rounded-b">
                                    <button (click)="reset()" type="reset" class="bg-red-500 text-white active:bg-yellow-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">
                        annuler
                      </button>
                                    <button type="submit" class="bg-green-500 text-white active:bg-yellow-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"> valider
                      </button>
                                </div>
                            </form>
                        </div>
                        <!--footer-->

                    </div>
                </div>
            </div>
            <div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>

            <div class="items-center flex flex-wrap">
                <div class="w-full lg:w-11/12 px-4 ml-auto mr-auto text-center">
                    <div class="pr-8">
                        <div class="grid gap-4 grid-cols-2 text-white font-semibold text-center">
                            <div></div>
                            <!-- <div>2</div>
                        <div>3</div>
                        <div>4</div> -->
                        </div>
                        <div class="w-full lg:w-3/12 px-4 lg:order-2 flex justify-left">
                            <div class="relative" style="margin-top: 25%;">
                                <a [routerLink]="['/profile']">
                                    <img *ngIf="infoUser.photoURL!=null" style="margin-left: 0%;max-width: 60px;" alt="..." src={{infoUser.photoURL}} class="shadow-xl rounded-full h-auto align-middle border-none absolute -m-16 -ml-20 lg:-ml-16 max-w-100-px" />
                                    <img *ngIf="infoUser.photoURL==null" style="margin-left: 0%;max-width: 60px;" alt="..." src="https://i.ibb.co/mSJvtm8/computer-icons-user-profile-avatar-profile.jpg" class="shadow-xl rounded-full h-auto align-middle border-none absolute -m-16 -ml-20 lg:-ml-16 max-w-100-px"
                                    />
                                </a>


                            </div>
                            <h1 *ngIf="infoUser.displayName!=null" class="text-white font-semibold text-center" style="margin-left: 70px;margin-top: 7%">
                                {{infoUser.displayName}} : {{userT}}
                            </h1>
                            <h1 *ngIf="infoUser.displayName==null" class="text-white font-semibold text-center" style="margin-left: 70px;margin-top: 7%">
                                {{user}} : {{userT}}
                            </h1>
                        </div>
                        <section class="block relative z-1 " id="gallerie">
                            <div class="container mx-auto">
                                <div class="justify-center flex flex-wrap">
                                    <div class="text-white bg-transparent w-full lg:w-12/12 px-4 -mt-24" style="    margin-top: 1rem;">
                                        <div class="flex flex-wrap">
                                            <div class="w-full lg:w-4/12 px-4">
                                                <h5 class=" text-xl font-semibold pb-4 text-center">
                                                    <i class="fas fa-graduation-cap text-lg leading-lg text-white opacity-75"> </i> Ateliers et Formations
                                                </h5>
                                                <a (click)="toFormations()">
                                                    <div class="hover:-mt-4 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg ease-linear transition-all duration-150">
                                                        <img alt="..." class="align-middle border-none max-w-full h-auto rounded-lg" src="https://i.ibb.co/sWq1yJY/slide-formation.png" />
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="w-full lg:w-4/12 px-4">
                                                <h5 class="text-xl font-semibold pb-4 text-center">
                                                    <i class="fas fa-book text-lg leading-lg text-white opacity-75"> </i> Bibliothèque
                                                </h5>
                                                <a (click)="toBib()">
                                                    <div class="hover:-mt-4 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg ease-linear transition-all duration-150">
                                                        <img alt="..." class="align-middle border-none max-w-full h-auto rounded-lg" src="https://i.ibb.co/HpSPRpm/480-4808620-mq-book-books-shelf-caterpillar-reading-a-book.png" />
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="w-full lg:w-4/12 px-4">
                                                <h5 class="text-xl font-semibold pb-4 text-center">
                                                    <i class="fas fa-project-diagram text-lg leading-lg text-white opacity-75"> </i> Echanges
                                                </h5>
                                                <a (click)="toEchanges()">
                                                    <div class="hover:-mt-4 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg ease-linear transition-all duration-150">
                                                        <img alt="..." class="align-middle border-none max-w-full h-auto rounded-lg" src="https://i.ibb.co/z8KNt9r/arton102989.jpg" />
                                                    </div>
                                                </a>

                                            </div>
                                            <div class="w-full lg:w-4/12 px-4">
                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- <h1 class="text-white font-semibold text-4xl" id="echanges">
                            Organiser des echanges créatifs
                        </h1>
                        <p class="mt-4 text-lg text-gray-300">
                            L’élaboration d’un echange démarre toujours par une réflexion sur la création. Certaines questions sont plus importantes que d’autres mais le souci du détail permet de s’assurer que l'echange sera vraiment adapté. </p>
                        <br> -->
                        <button *ngIf="userT==roleadmin " class="text-green-500 bg-transparent border border-solid border-red-500 hover:bg-red-500 hover:text-white active:bg-red-600 font-bold uppercase text-sm px-6 py-3 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                            (click)="toggleModal()" type="button">
                    <i class="fas fa-plus"></i> Ajouter
                </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px" style="transform: translateZ(0);">
            <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0" y="0">
        <polygon
          class="text-gray-300 fill-current"
          points="2560 0 2560 100 0 100"
        ></polygon>
      </svg>
        </div>
    </div>


    <section class="pb-20 bg-gray-300 -mt-24">

        <div class="container mx-auto px-4">
            <div class="flex flex-wrap w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/6">

                <div class="w-full mb-12 px-4">
                    <app-card-biblo></app-card-biblo>

                </div>
            </div>

            <div class="flex flex-wrap items-center mt-32">
                <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
                </div>

                <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
                    <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-red-600">

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="relative block py-24 lg:pt-0 bg-gray-900 ">
        <div class="container mx-auto px-4 ">
            <div class="flex flex-wrap justify-center lg:-mt-64 -mt-48 " style=" margin-top: -9rem;">
                <div class="w-full lg:w-6/12 px-4 ">
                    <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-gray-300 ">
                        <div class="flex-auto p-5 lg:p-10 ">
                            <h4 class="text-2xl font-semibold ">
                                Voulez-vous nous ecrire ?
                            </h4>
                            <p class="leading-relaxed mt-1 mb-4 text-gray-600 ">
                                Remplissez ce formulaire et nous vous répondrons dans les 24 heures.
                            </p>
                            <div class="relative w-full mb-3 mt-8 ">
                                <label class="block uppercase text-gray-700 text-xs font-bold mb-2 " htmlFor="full-name ">
                 Nom et Prenom
                </label>
                                <input type="text " class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150 " placeholder="Full Name " />
                            </div>

                            <div class="relative w-full mb-3 ">
                                <label class="block uppercase text-gray-700 text-xs font-bold mb-2 " htmlFor="email ">
                  Email
                </label>
                                <input type="email " class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150 " placeholder="Email " />
                            </div>

                            <div class="relative w-full mb-3 ">
                                <label class="block uppercase text-gray-700 text-xs font-bold mb-2 " htmlFor="message ">
                  Message
                </label>
                                <textarea rows="4 " cols="80 " class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full " placeholder="Type a message... "></textarea>
                            </div>
                            <div class="text-center mt-6 ">
                                <button (click)="sms()" class="bg-gray-900 text-white active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150 " type="button ">
                  Envoyer
                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<app-footer id="contact"></app-footer>
