<div class="container mx-auto px-4 h-full">
    <app-chargement></app-chargement>
    <div class="flex content-center items-center justify-center h-full">
        <div class="w-full lg:w-6/12 px-4">
            <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-gray-300 border-0">
                <div style="max-width: 75% !important; margin-left: 12%;position: relative;" *ngIf="showModal" class="overflow-x-hidden overflow-y-auto relative inset-0 z-50 outline-none focus:outline-none justify-center items-center ">
                    <div class="relative w-auto my-6 mx-auto max-w-sm">
                        <!--content-->
                        <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
                            <!--header-->
                            <div class="flex items-start justify-between p-5 border-b border-solid border-gray-300 rounded-t">
                                <h3 class="text-3xl font-semibold">
                                    Inscription
                                </h3>
                                <button class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none" (click)="onSignGoogle()">
                              <span class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
                                ×
                              </span>
                            </button>
                            </div>
                            <!--body-->
                            <div class="relative p-6 flex-auto">
                                <form role="form" [formGroup]="registerType" (ngSubmit)="onSubmit2()">
                                    <div class="flex flex-wrap -mx-3 mb-6">
                                        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                                        Type d'utilisateur
                                        </label>
                                            <div class="relative flex w-full flex-wrap items-stretch mb-3">
                                                <select placeholder="Vous etes ?" id="inputState" class="form-control block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline" formControlName="userType">
                                          <option disabled> </option>
                                          <option value="administrateur" >Administrateur</option>
                                          <option value="formateur" >Formateur ou Concepteur</option>
                                          <option value="tuteur">Tuteur animateur</option>
                                          <option value="visiteur">Visiteur</option>
                                      </select>
                                            </div>
                                            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                                              Mot de passe
                                                </label>
                                            <input minlength="8" class="form-control block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline" [class.is-invalid]="register.get('password').invalid && register.get('password').touched"
                                                formControlName="password" required class="form-control" placeholder="Mot de passe" type="password" (focus)="focus2 = true" (blur)="focus2 = false" class="px-3 py-3 placeholder-gray-400 text-gray-700 relative bg-white bg-white rounded text-sm shadow outline-none focus:outline-none focus:shadow-outline w-full pl-10"
                                            />
                                        </div>
                                        <div *ngIf="(password.invalid && password.touched) || password.dirty" class="text-red-500 text-xs italic">
                                            <h6 *ngIf="password.errors?.required" class="text-red-500 text-xs italic" style="text-align: end;">ne peut etre vide</h6>
                                            <h6 *ngIf="password.errors?.minlength" class="text-red-500 text-xs italic" style="text-align: end;">entrer au mois 8 carateres</h6>
                                        </div>

                                    </div>
                                    <div class="flex items-center justify-center p-6 border-t border-solid border-gray-300 rounded-b">
                                        <!-- <button (click)="reset()" type="reset" class="bg-red-500 text-white active:bg-yellow-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">
                                annuler
                              </button> -->
                                        <button type="submit" class="bg-green-500 text-white active:bg-yellow-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"> valider
                              </button>
                                    </div>
                                </form>
                            </div>
                            <!--footer-->

                        </div>
                    </div>
                </div>
                <div class="rounded-t mb-0 px-6 py-6">
                    <div class="text-center mb-3">
                        <h6 class="text-gray-600 text-sm font-bold">
                            Creer un compte via
                        </h6>
                    </div>
                    <div class="btn-wrapper text-center">
                        <!-- <button (click)="onSignFacebook()" class="bg-white active:bg-gray-100 text-gray-800 font-normal px-4 py-2 rounded outline-none focus:outline-none mr-2 mb-1 uppercase shadow hover:shadow-md inline-flex items-center font-bold text-xs ease-linear transition-all duration-150"
                            type="button">
            <img alt="..." class="w-5 mr-1" src="https://i.ibb.co/LYLDDQ6/6e732beb65774ba42c65fadd8c6c623a.jpg" />
            Facebook
          </button> -->
                        <button (click)="onSignGoogle()" class="bg-white active:bg-gray-100 text-gray-800 font-normal px-4 py-2 rounded outline-none focus:outline-none mr-1 mb-1 uppercase shadow hover:shadow-md inline-flex items-center font-bold text-xs ease-linear transition-all duration-150"
                            type="button">
            <img alt="..." class="w-5 mr-1" src="assets/img/google.svg" />
            Google
          </button>
                    </div>
                    <hr class="mt-6 border-b-1 border-gray-400" />
                </div>
                <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
                    <div class="text-gray-500 text-center mb-3 font-bold">
                        <small>Ou inscrivez-vous avec des informations d'identification</small>
                    </div>
                    <form class="form" [formGroup]="register" (ngSubmit)="onSubmit()">
                        <div class="flex flex-wrap">
                            <div class="w-full lg:w-6/12 px-4">
                                <div class="relative flex w-full flex-wrap items-stretch mb-3">
                                    <span class="z-10 h-full leading-snug font-normal absolute text-center text-gray-400 absolute bg-transparent rounded text-base items-center justify-center w-8 pl-3 py-3">
                            <i class="fas fa-user"></i>
                           </span>
                                    <input name="nom_prenom" formControlName="nom_prenom" required class="form-control" placeholder="Nom & Prenom *" type="text" (focus)="focus = true" (blur)="focus = false" class="px-3 py-3 placeholder-gray-400 text-gray-700 relative bg-white bg-white rounded text-sm shadow outline-none focus:outline-none focus:shadow-outline w-full pl-10"
                                    />
                                </div>
                                <h6 class="text-red-500 text-xs italic" style="text-align: end;" *ngIf="register.controls['nom_prenom'].invalid && (register.controls['nom_prenom'].dirty || register.controls['nom_prenom'].touched)">
                                    Veillez remplir les champs obligatoires *
                                </h6>
                            </div>

                            <div class="w-full lg:w-6/12 px-4">
                                <div class="relative flex w-full flex-wrap items-stretch mb-3">
                                    <span class="z-10 h-full leading-snug font-normal absolute text-center text-gray-400 absolute bg-transparent rounded text-base items-center justify-center w-8 pl-3 py-3">
                          <i class="fas fa-envelope-square"></i>
                    </span>
                                    <input [class.is-invalid]="register.get('email').invalid && register.get('email').touched" formControlName="email" class="form-control" placeholder="Email" type="email" (focus)="focus1 = true" (blur)="focus1 = false" class="px-3 py-3 placeholder-gray-400 text-gray-700 relative bg-white bg-white rounded text-sm shadow outline-none focus:outline-none focus:shadow-outline w-full pl-10"
                                    />
                                </div>
                                <div *ngIf="(email.invalid && email.touched) || email.dirty" class="text-red-500 text-xs italic">
                                    <h6 *ngIf="email.errors?.required" class="text-red-500 text-xs italic" style="text-align: end;">ne peut etre vide</h6>
                                    <h6 *ngIf="email.errors?.pattern" class="text-red-500 text-xs italic" style="text-align: end;">entrer un email valide</h6>
                                </div>
                            </div>
                        </div>

                        <div class="flex flex-wrap">
                            <div class="w-full lg:w-6/12 px-4">
                                <div class="relative flex w-full flex-wrap items-stretch mb-3">
                                    <!-- <label>Type d'utilisateur</label> -->
                                    <select id="inputState" class="form-control block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline" formControlName="userType">
                          <option  disabled value=""> <strong>Type d'utilisateur</strong></option>
                          <option value="administrateur" >Administrateur</option>
                          <option value="formateur" >Formateur ou Concepteur</option>
                          <option value="tuteur">Tuteur animateur</option>
                          <option value="visiteur">Visiteur</option>
                      </select>
                                </div>
                            </div>
                            <div class="w-full lg:w-6/12 px-4">
                                <div class="relative flex w-full flex-wrap items-stretch mb-3">
                                    <span class="z-10 h-full leading-snug font-normal absolute text-center text-gray-400 absolute bg-transparent rounded text-base items-center justify-center w-8 pl-3 py-3">
                                <i class="fas fa-lock"></i>
                              </span>
                                    <input minlength="8" [class.is-invalid]="register.get('password').invalid && register.get('password').touched" formControlName="password" required class="form-control" placeholder="Mot de passe" type="password" (focus)="focus2 = true" (blur)="focus2 = false"
                                        class="px-3 py-3 placeholder-gray-400 text-gray-700 relative bg-white bg-white rounded text-sm shadow outline-none focus:outline-none focus:shadow-outline w-full pl-10" />
                                </div>
                                <div *ngIf="(password.invalid && password.touched) || password.dirty" class="text-red-500 text-xs italic">
                                    <h6 *ngIf="password.errors?.required" class="text-red-500 text-xs italic" style="text-align: end;">ne peut etre vide</h6>
                                    <h6 *ngIf="password.errors?.minlength" class="text-red-500 text-xs italic" style="text-align: end;">entrer au mois 8 carateres</h6>
                                </div>
                            </div>

                        </div>

                        <div class="flex flex-wrap">
                            <div class="w-full lg:w-6/12 px-4">
                                <div class="relative flex w-full flex-wrap items-stretch mb-3">
                                    <select id="inputState" class="form-control block appearance-none
                                    w-full bg-white border border-gray-400 hover:border-gray-500
                                    px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none
                                    focus:shadow-outline" formControlName="zone">
                      <option  disabled value="">  <strong>Zone </strong></option>
                      <option value="toujounine" >Toujounine</option>
                      <option value="arafat" >Arafat</option>
                      <option value="elmina">Elmina</option>
                      <option value="riyad">Riyad</option>
                  </select>
                                </div>
                            </div>
                            <div class="w-full lg:w-6/12 px-4">
                                <div class="relative flex w-full flex-wrap items-stretch mb-3">
                                    <select id="inputState" class="form-control block appearance-none w-full
                                     bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8
                                     rounded shadow leading-tight focus:outline-none focus:shadow-outline" formControlName="etablissement">
                  <option  disabled value=""> <strong>Etablissement </strong></option>
                  <option value="prive" >Privé</option>
                  <option value="public" >Public</option>
                  <option value="mahadra">Mahadra</option>

              </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-check text-left">
                            <label class="form-check-label">
                            <input formControlName="contrat" required class="form-check-input" type="checkbox" />
                            <span class="form-check-sign"> </span> J'accepte
                            <a href="javascript:void(0)"> les termes et les conditions </a> .
                          </label>
                        </div>

                        <div class="card-footer text-center">
                            <button class="bg-orange-500 text-white active:bg-orange-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" (click)="reset()"><i class="fas fa-eraser">  </i>Vider</button>
                            <button class="bg-green-500 text-white active:bg-green-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="submit" [disabled]="!register.valid"><i class="fas fa-check">  </i>Valider</button>

                        </div>
                    </form>
                    <p class="text-red-500 text-xs italic" style="text-align: center;font-weight: bold;">{{errormessage}}</p>

                </div>
            </div>
        </div>
    </div>
</div>