<nav class="top-0 absolute z-50 w-full flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg">
    <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
        <div class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start">
            <a [routerLink]="['/']" class="text-white text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-no-wrap uppercase">
      JamSalam - COSRIM
    </a>
            <button class="cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none" type="button" (click)="setNavbarOpen()">
        <i class="text-white fas fa-bars"></i>
      </button>
        </div>
        <div class="lg:flex flex-grow items-center bg-gray-700 lg:bg-transparent lg:shadow-none" [ngClass]="{ hidden: !navbarOpen, 'block rounded shadow-lg': navbarOpen }" id="example-navbar-warning">
            <ul class="flex flex-col lg:flex-row list-none mr-auto">
                <li class="flex items-center">
                    <!-- <a class="lg:text-white lg:hover:text-gray-300 text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold" href="https://www.creative-tim.com/learning-lab/tailwind/angular/overview/webapp?ref=twa-auth-navbar">
                        <i class="lg:text-gray-300 text-gray-500 far fa-file-alt text-lg leading-lg mr-2"></i> Documentation
                    </a> -->
                </li>
            </ul>
            <ul class="flex flex-col lg:flex-row list-none lg:ml-auto">
                <li class="nav-item">
                    <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75">

                    </a>
                </li>
                <!-- <li class="nav-item">
                    <a [routerLink]="['/admin/dashboard']" class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75">
                      dashboard
                  </a>
                </li> -->
                <!-- <li class="nav-item">
                    <a [routerLink]="['/profile']" class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75" href="#pablo">
                        <i class="fas fa-cog text-lg leading-lg text-white opacity-75"> </i> profile
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/landing']" class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75" href="#pablo">
                        <i class="fas fa-graduation-cap text-lg leading-lg text-white opacity-75"> </i> Ateliers
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/echanges']" class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75" href="#pablo">
                        <i class="fas fa-project-diagram text-lg leading-lg text-white opacity-75"> </i> echanges
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/users/agents']" class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75" href="#pablo">
                        <i class="fas fa-user text-lg leading-lg text-white opacity-75"> </i> Users
                    </a>
                </li> -->
                <!-- <li class="flex items-center">
                    <app-pages-dropdown class="block" *ngIf="isAuth"></app-pages-dropdown>
                </li>
                <li class="flex items-center">
                    <app-compte-dropdown class="block" *ngIf="isAuth"></app-compte-dropdown>
                </li>
                <li class="nav-item">
                    <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75" href="#pablo">
                  Profile
                </a>
                </li>
                <li class="nav-item">
                    <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75" href="#pablo">
                  Settings
                </a>
                </li> -->
                <!-- <li class="flex items-center">
                    <a href="#" class="text-base font-bold text-white-500 hover:text-gray-900">
                    Pricing
                  </a>

                </li>

                <li class="flex items-center">
                    <a href="#" class="text-base font-bold text-white-500 hover:text-gray-900">
                    Docs
                  </a>
                </li> -->


                <li class="flex items-center" *ngIf="!isAuth">
                    <button [routerLink]="['login']" class="bg-white text-gray-800 active:bg-gray-100 text-xs font-bold uppercase px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3 ease-linear transition-all duration-150" type="button">
            <i class="fas fa-arrow-alt-circle-down"></i> Se Connecter
          </button>
                </li>
                <li class="flex items-center" *ngIf="isAuth && isAccountAdmin">
                    <button (click)="users()" class="bg-green-500 text-white active:bg-green-500 text-xs font-bold uppercase px-4 py-2 rounded shadow hover:shadow-lg outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3 ease-linear transition-all duration-150" type="button">
                  <i class="fas fa-user-cog"></i>Gestions des Utilisateurs
                    </button>
                </li>
                <li class="flex items-center" *ngIf="isAuth">
                    <button (click)="onSignOut()" class="bg-red-600 text-white active:bg-red-700 text-xs font-bold uppercase px-4 py-2 rounded shadow hover:shadow-lg outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3 ease-linear transition-all duration-150" type="button">
                    <i class="fas fa-sign-out-alt"></i>Deconnexion
                      </button>
                </li>

            </ul>
        </div>
    </div>
</nav>