<app-auth-navbar></app-auth-navbar>
<main>

    <div class="relative pt-16 pb-32 flex content-center items-center justify-center min-h-screen-75">

        <div class="absolute top-0 w-full h-full bg-center bg-cover" style="
        background-image: url('https://i.ibb.co/wh7yTTF/3.jpg');">
            <span id="blackOverlay" class="w-full h-full absolute opacity-75 bg-black"></span>
        </div>
        <div class="container relative mx-auto">
            <div style="max-width: 75% !important; margin-left: 12%;position: relative;" *ngIf="showModal" class="overflow-x-hidden overflow-y-auto relative inset-0 z-50 outline-none focus:outline-none justify-center items-center ">
                <div class="relative w-auto my-6 mx-auto max-w-sm">
                    <!--content-->
                    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
                        <!--header-->
                        <div class="flex items-start justify-between p-5 border-b border-solid border-gray-300 rounded-t">
                            <h3 class="text-3xl font-semibold">
                                Nouveau Atelier
                            </h3>
                            <button class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none" (click)="toggleModal()">
                          <span class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
                            ×
                          </span>
                        </button>
                        </div>
                        <!--body-->
                        <div class="relative p-6 flex-auto">
                            <form [formGroup]="atelierForm" (ngSubmit)="onSaveAtelier()">
                                <div class="flex flex-wrap -mx-3 mb-6">
                                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                                     Titre
                                    </label>
                                        <textarea formControlName="titre" style="resize: 50%;overflow: auto;" placeholder="titre -> tirez pour agrandir la taille" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"></textarea>
                                    </div>
                                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-city">
                                    Image de garde</label>
                                        <div class="input-group">
                                            <input type="file" formControlName="photo" accept="image/*" (change)="detectFiles($event)" />
                                        </div>
                                        <span *ngIf="fileUploaded" class="text-xs text-center font-semibold inline-block py-1 px-2 uppercase rounded text-green-600 bg-green-200 uppercase last:mr-0 mr-1">
                                      Image chargé !
                                    </span>
                                    </div>
                                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
                                      Details
                                      </label>
                                        <textarea formControlName="corps" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" style="resize: auto;overflow: auto;" placeholder="Corps -> tirez pour agrandir la taille"></textarea>
                                    </div>
                                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-city">
                                  Video de l'atelier</label>
                                        <div class="input-group">
                                            <input formControlName="video" type="file" accept="video/*" (change)="detectFiles1($event)" />
                                        </div>
                                        <span *ngIf="fileUploaded1" class="text-xs text-center font-semibold inline-block py-1 px-2 uppercase rounded text-green-600 bg-green-200 uppercase last:mr-0 mr-1">
                                      Video chargé !
                                    </span>
                                        <input type="text" hidden formControlName="dateCreation">
                                        <input type="text" hidden value={{mailcurrent}}>
                                        <input type="text" hidden formControlName="usersEnrroll" value=" ">
                                        <input type="text" hidden formControlName="user" value={{user}}>

                                    </div>

                                    <div class="w-full lg:w-6/12 px-4">
                                        <div class="relative flex w-full flex-wrap items-stretch mb-3">
                                            <select id="inputState" class="form-control block appearance-none
                                              w-full bg-white border border-gray-400 hover:border-gray-500
                                              px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none
                                              focus:shadow-outline" formControlName="zone">
                                <option  disabled value=""> <strong>Type </strong></option>
                                <option value="GUIDE" >GUIDE</option>
                                <option value="BD" >BD</option>
                                <option value="MODULE">MODULE</option>
                                <option value="MANUEL">MANUEL</option>
                                <option value="PIECE DE THEATRE">PIECE DE THEATRE</option>
                            </select>
                                        </div>
                                    </div>
                                    <div class="w-full lg:w-6/12 px-4">
                                        <div class="relative flex w-full flex-wrap items-stretch mb-3">
                                            <select id="inputState" class="form-control block appearance-none w-full
                                               bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8
                                               rounded shadow leading-tight focus:outline-none focus:shadow-outline" formControlName="etablissement">
                            <option  disabled value=""> Etablissement </option>
                            <option value="prive" >Privé</option>
                            <option value="public" >Public</option>
                            <option value="mahadra">Mahadra</option>

                        </select>
                                        </div>
                                    </div>


                                </div>
                                <div class="flex items-center justify-center p-6 border-t border-solid border-gray-300 rounded-b">
                                    <button (click)="reset()" type="reset" class="bg-red-500 text-white active:bg-yellow-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">
                            annuler
                          </button>
                                    <button type="submit" [disabled]="atelierForm.invalid" class="bg-green-500 text-white active:bg-yellow-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"> valider
                          </button>
                                </div>
                            </form>
                        </div>
                        <!--footer-->

                    </div>
                </div>
            </div>
            <div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>

            <div style="max-width: 75% !important; margin-left: 12%;position: relative;" *ngIf="showModal2" class="overflow-x-hidden overflow-y-auto relative inset-0 z-50 outline-none focus:outline-none justify-center items-center ">
                <div class="relative w-auto my-6 mx-auto max-w-sm">
                    <!--content-->
                    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
                        <!--header-->
                        <div class="flex items-start justify-between p-5 border-b border-solid border-gray-300 rounded-t">
                            <h2 class="text-3xl font-semibold">
                                Detail de l'Atelier
                            </h2>
                            <button class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none" (click)="toggleModal2()">
                          <span class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
                            ×
                          </span>
                        </button>
                        </div>
                        <!--body-->
                        <div class="relative p-6 flex-auto">
                            <div class="px-4 pt-3 pb-4 border-t border-gray-300 bg-gray-100 ">
                                <div class="text-xs uppercase font-bold text-gray-600 tracking-wide text-center">Video</div>
                                <img src={{UnAtelier[0].photo}} class="photo">
                                <p class="uppercase tracking-wide text-sm font-bold text-gray-700">Titre : {{UnAtelier[0].titre}}</p>
                                <p class="text-gray-700"> {{UnAtelier[0].corps}}</p>
                                <p class="font-bold text-gray-900">{{UnAtelier[0].username}}</p>
                                <p class="text-sm text-gray-700">{{UnAtelier[0].dateCreation}}</p>
                                <div class="flex items-center pt-2 lavideo">
                                    <video controls>
                                    <source src={{UnAtelier[0].video}} type="video/mp4">
                                    <source src={{UnAtelier[0].video}} type="video/ogg">
                                    Votre browser ne supporte pas de video .
                                  </video>
                                </div>
                            </div>

                        </div>
                        <!--footer-->

                    </div>
                </div>
            </div>
            <div *ngIf="showModal2" class="opacity-25 fixed inset-0 z-40 bg-black"></div>

            <div class="items-center flex flex-wrap">
                <div class="w-full lg:w-11/12 px-4 ml-auto mr-auto text-center">
                    <div class="pr-8">
                        <div class="grid gap-4 grid-cols-2 text-white font-semibold text-center">
                            <div></div>
                            <!-- <div>2</div>
                            <div>3</div>
                            <div>4</div> -->
                        </div>
                        <div class="w-full lg:w-3/12 px-4 lg:order-2 flex justify-left">
                            <div class="relative" style="margin-top: 25%;">
                                <a [routerLink]="['/profile']">
                                    <img *ngIf="infoUser.photoURL!=null" style="margin-left: 0%;max-width: 60px;" alt="..." src={{infoUser.photoURL}} class="shadow-xl rounded-full h-auto align-middle border-none absolute -m-16 -ml-20 lg:-ml-16 max-w-100-px" />
                                    <img *ngIf="infoUser.photoURL==null" style="margin-left: 0%;max-width: 60px;" alt="..." src="https://i.ibb.co/mSJvtm8/computer-icons-user-profile-avatar-profile.jpg" class="shadow-xl rounded-full h-auto align-middle border-none absolute -m-16 -ml-20 lg:-ml-16 max-w-100-px"
                                    />
                                </a>


                            </div>
                            <h1 *ngIf="infoUser.displayName!=null" class="text-white font-semibold text-center" style="margin-left: 70px;margin-top: 7%">
                                {{infoUser.displayName}} : {{userT}}
                            </h1>
                            <h1 *ngIf="infoUser.displayName==null" class="text-white font-semibold text-center" style="margin-left: 70px;margin-top: 7%">
                                {{user}} : {{userT}}
                            </h1>
                        </div>
                        <section class="block relative z-1 " id="gallerie">
                            <div class="container mx-auto">
                                <div class="justify-center flex flex-wrap">
                                    <div class="text-white bg-transparent w-full lg:w-12/12 px-4 -mt-24" style="    margin-top: 1rem;">
                                        <div class="flex flex-wrap">
                                            <div class="w-full lg:w-4/12 px-4">
                                                <h5 class=" text-xl font-semibold pb-4 text-center">
                                                    <i class="fas fa-graduation-cap text-lg leading-lg text-white opacity-75"> </i> Ateliers et Formations
                                                </h5>
                                                <a (click)="toFormations()">
                                                    <div class="hover:-mt-4 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg ease-linear transition-all duration-150">
                                                        <img alt="..." class="align-middle border-none max-w-full h-auto rounded-lg" src="https://i.ibb.co/sWq1yJY/slide-formation.png" />
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="w-full lg:w-4/12 px-4">
                                                <h5 class="text-xl font-semibold pb-4 text-center">
                                                    <i class="fas fa-book text-lg leading-lg text-white opacity-75"> </i> Bibliothèque
                                                </h5>
                                                <a (click)="toBib()">
                                                    <div class="hover:-mt-4 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg ease-linear transition-all duration-150">
                                                        <img alt="..." class="align-middle border-none max-w-full h-auto rounded-lg" src="https://i.ibb.co/HpSPRpm/480-4808620-mq-book-books-shelf-caterpillar-reading-a-book.png" />
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="w-full lg:w-4/12 px-4">
                                                <h5 class="text-xl font-semibold pb-4 text-center">
                                                    <i class="fas fa-project-diagram text-lg leading-lg text-white opacity-75"> </i> Echanges
                                                </h5>
                                                <a (click)="toEchanges()">
                                                    <div class="hover:-mt-4 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg ease-linear transition-all duration-150">
                                                        <img alt="..." class="align-middle border-none max-w-full h-auto rounded-lg" src="https://i.ibb.co/z8KNt9r/arton102989.jpg" />
                                                    </div>
                                                </a>

                                            </div>
                                            <div class="w-full lg:w-4/12 px-4">
                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <h1 class="text-white font-semibold text-4xl" id="formations">
                            Organiser des ateliers créatifs
                        </h1>
                        <p class="mt-4 text-lg text-gray-300">
                            L’élaboration d’un atelier démarre toujours par une réflexion sur la création. Certaines questions sont plus importantes que d’autres mais le souci du détail permet de s’assurer que mon atelier sera vraiment adapté. </p>
                        <br>
                        <!-- <button class="text-red-500 bg-transparent border border-solid border-red-500 hover:bg-red-500 hover:text-white active:bg-red-600 font-bold uppercase text-sm px-6 py-3 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                            type="button">
                  <i class="fas fa-podcast"></i>Les Ateliers
                 </button> -->
                        <button *ngIf="userT==roleadmin" class="text-green-500 bg-transparent border border-solid border-red-500 hover:bg-red-500 hover:text-white active:bg-red-600 font-bold uppercase text-sm px-6 py-3 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                            (click)="toggleModal()" type="button">
                    <i class="fas fa-plus"></i> Ajouter
                </button>
                    </div>
                </div>


            </div>
        </div>
        <div class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px" style="transform: translateZ(0);">
            <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0" y="0">
        <polygon
          class="text-gray-300 fill-current"
          points="2560 0 2560 100 0 100"
        ></polygon>
      </svg>
        </div>
    </div>

    <section class="pb-20 bg-gray-300 -mt-24">
        <div class="container mx-auto px-4">
            <div class="flex flex-wrap w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/6">

                <div class="w-full mb-12 px-4">
                    <app-card-table></app-card-table>

                </div>


                <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center" *ngFor="let item of ateliers;let j = index">
                    <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg" *ngIf="!item.isedit;">
                        <div class="max-w-sm rounded overflow-hidden shadow-lg">
                            <img style="display: initial;width: fit-content;" class="w-6/12 sm:w-auto md:w-full lg:w-32 xl:w-3/4" src={{item.photo}} alt="Sunset in the mountains">
                            <div class="px-6 py-4">
                                <div class="font-bold text-xl mb-2">{{item.titre}}</div>
                                <p class="text-gray-700 text-base">
                                    {{item.corps | slice:0:100}} ... <button (click)="getAtelier(item)" class="text-green-500 background-transparent font-bold  px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                                        type="button">
                                        <i  class="fas fa-eye"> voir plus </i>
                                    </button> </p>
                            </div>
                            <div class="px-6 pt-4 pb-2">
                                <button *ngIf="item.mail == mailcurrent || userT===roleadmin" (click)="onDeleteAtelier(item.id,item.photo,item.video)" class="text-red-500 background-transparent font-bold uppercase px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                                    type="button">
                                <i class="fas fa-trash"> supprimer</i>
                              </button>
                                <!-- <button *ngIf="item.mail == mailcurrent || userT===roleadmin" (click)="onEditAtelier(item.id,item.photo,item.video)" class=" text-orange-500 background-transparent font-bold uppercase px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150 "
                                    type="button ">
                                <i class="fas fa-pencil-alt ">. modifier</i>
                              </button> -->
                                <button (click)="enrol()" *ngIf="userT==roleeleves" class="text-green-500 background-transparent font-bold uppercase px-3 py-1 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150 " type="button ">
                                <i class="fas fa-map-pin "> Enrôler</i>
                              </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="flex flex-wrap items-center mt-32 ">
                <!-- <div class="w-full md:w-5/12 px-4 mr-auto ml-auto ">
                    <div class="text-gray-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-gray-100 ">
                        <i class="fas fa-user-friends text-xl "></i>
                    </div>
                    <h3 class="text-3xl mb-2 font-semibold leading-normal ">
                        Working with us is a pleasure
                    </h3>
                    <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-gray-700 ">
                        Don't let your uses guess by attaching tooltips and popoves to any element. Just make sure you enable them first via JavaScript.
                    </p>
                    <p class="text-lg font-light leading-relaxed mt-0 mb-4 text-gray-700 ">
                        The kit comes with three pre-built pages to help you get started faster. You can change the text and images and you're good to go. Just make sure you enable them first via JavaScript.
                    </p>
                    <a [routerLink]="[ '/'] " class="font-bold text-gray-800 mt-8 ">
            Check Tailwind WebApp Angular!
          </a>
                </div> -->

                <div class="w-full md:w-4/12 px-4 mr-auto ml-auto ">
                    <!-- <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-red-600 ">
                        <img alt="... " src="https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80 " class="w-full align-middle rounded-t-lg " />
                        <blockquote class="relative p-8 mb-4 ">
                            <svg preserveAspectRatio="none " xmlns="http://www.w3.org/2000/svg " viewBox="0 0 583 95 " class="absolute left-0 w-full block h-95-px -top-94-px ">
                <polygon
                  points="-30,95 583,95 583,65 "
                  class="text-red-600 fill-current "
                ></polygon>
              </svg>
                            <h4 class="text-xl font-bold text-white ">
                                Top Notch Services
                            </h4>
                            <p class="text-md font-light mt-2 text-white ">
                                The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever happens.
                            </p>
                        </blockquote>
                    </div> -->
                </div>
            </div>
        </div>

    </section>

    <!-- <section class="pt-20 pb-48 ">
        <div class="container mx-auto px-4 ">
            <div class="flex flex-wrap justify-center text-center mb-24 ">
                <div class="w-full lg:w-6/12 px-4 ">
                    <h2 class="text-4xl font-semibold ">Here are our heroes</h2>
                    <p class="text-lg leading-relaxed m-4 text-gray-600 ">
                        According to the National Oceanic and Atmospheric Administration, Ted, Scambos, NSIDClead scentist, puts the potentially record maximum.
                    </p>
                </div>
            </div>
            <div class="flex flex-wrap ">
                <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4 ">
                    <div class="px-6 ">
                        <img alt="... " src="assets/img/team-1-800x800.jpg " class="shadow-lg rounded-full mx-auto max-w-120-px " />
                        <div class="pt-6 text-center ">
                            <h5 class="text-xl font-bold ">Ryan Tompson</h5>
                            <p class="mt-1 text-sm text-gray-500 uppercase font-semibold ">
                                Web Developer
                            </p>
                            <div class="mt-6 ">
                                <button class="bg-blue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1 " type="button ">
                  <i class="fab fa-twitter "></i>
                </button>
                                <button class="bg-blue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1 " type="button ">
                  <i class="fab fa-facebook-f "></i>
                </button>
                                <button class="bg-pink-500 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1 " type="button ">
                  <i class="fab fa-dribbble "></i>
                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4 ">
                    <div class="px-6 ">
                        <img alt="... " src="assets/img/team-2-800x800.jpg " class="shadow-lg rounded-full mx-auto max-w-120-px " />
                        <div class="pt-6 text-center ">
                            <h5 class="text-xl font-bold ">Romina Hadid</h5>
                            <p class="mt-1 text-sm text-gray-500 uppercase font-semibold ">
                                Marketing Specialist
                            </p>
                            <div class="mt-6 ">
                                <button class="bg-red-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1 " type="button ">
                  <i class="fab fa-google "></i>
                </button>
                                <button class="bg-blue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1 " type="button ">
                  <i class="fab fa-facebook-f "></i>
                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4 ">
                    <div class="px-6 ">
                        <img alt="... " src="assets/img/team-3-800x800.jpg " class="shadow-lg rounded-full mx-auto max-w-120-px " />
                        <div class="pt-6 text-center ">
                            <h5 class="text-xl font-bold ">Alexa Smith</h5>
                            <p class="mt-1 text-sm text-gray-500 uppercase font-semibold ">
                                UI/UX Designer
                            </p>
                            <div class="mt-6 ">
                                <button class="bg-red-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1 " type="button ">
                  <i class="fab fa-google "></i>
                </button>
                                <button class="bg-blue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1 " type="button ">
                  <i class="fab fa-twitter "></i>
                </button>
                                <button class="bg-gray-800 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1 " type="button ">
                  <i class="fab fa-instagram "></i>
                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4 ">
                    <div class="px-6 ">
                        <img alt="... " src="assets/img/team-4-470x470.png " class="shadow-lg rounded-full mx-auto max-w-120-px " />
                        <div class="pt-6 text-center ">
                            <h5 class="text-xl font-bold ">Jenna Kardi</h5>
                            <p class="mt-1 text-sm text-gray-500 uppercase font-semibold ">
                                Founder and CEO
                            </p>
                            <div class="mt-6 ">
                                <button class="bg-pink-500 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1 " type="button ">
                  <i class="fab fa-dribbble "></i>
                </button>
                                <button class="bg-red-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1 " type="button ">
                  <i class="fab fa-google "></i>
                </button>
                                <button class="bg-blue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1 " type="button ">
                  <i class="fab fa-twitter "></i>
                </button>
                                <button class="bg-gray-800 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1 " type="button ">
                  <i class="fab fa-instagram "></i>
                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <section class="pb-20 relative block bg-gray-900 ">
        <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20 " style="transform: translateZ(0); ">
            <svg class="absolute bottom-0 overflow-hidden " xmlns="http://www.w3.org/2000/svg " preserveAspectRatio="none " version="1.1 " viewBox="0 0 2560 100 " x="0 " y="0 ">
        <polygon
          class="text-gray-900 fill-current "
          points="2560 0 2560 100 0 100 "
        ></polygon>
      </svg>
        </div>

        <div class="container mx-auto px-4 lg:pt-24 lg:pb-64 ">

            <div class="flex flex-wrap mt-12 justify-center ">


            </div>
        </div>
    </section>
    <section class="relative block py-24 lg:pt-0 bg-gray-900 ">
        <div class="container mx-auto px-4 ">
            <div class="flex flex-wrap justify-center lg:-mt-64 -mt-48 ">
                <div class="w-full lg:w-6/12 px-4 ">
                    <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-gray-300 ">
                        <div class="flex-auto p-5 lg:p-10 ">
                            <h4 class="text-2xl font-semibold ">
                                Want to work with us?
                            </h4>
                            <p class="leading-relaxed mt-1 mb-4 text-gray-600 ">
                                Complete this form and we will get back to you in 24 hours.
                            </p>
                            <div class="relative w-full mb-3 mt-8 ">
                                <label class="block uppercase text-gray-700 text-xs font-bold mb-2 " htmlFor="full-name ">
                  Full Name
                </label>
                                <input type="text " class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150 " placeholder="Full Name " />
                            </div>

                            <div class="relative w-full mb-3 ">
                                <label class="block uppercase text-gray-700 text-xs font-bold mb-2 " htmlFor="email ">
                  Email
                </label>
                                <input type="email " class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150 " placeholder="Email " />
                            </div>

                            <div class="relative w-full mb-3 ">
                                <label class="block uppercase text-gray-700 text-xs font-bold mb-2 " htmlFor="message ">
                  Message
                </label>
                                <textarea rows="4 " cols="80 " class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full " placeholder="Type a message... "></textarea>
                            </div>
                            <div class="text-center mt-6 ">
                                <button class="bg-gray-900 text-white active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150 " type="button ">
                  Send Message
                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

<app-footer></app-footer>
