<nav
  class="top-0 fixed z-50 w-full flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg bg-white shadow">
  <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
    <div class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start">
      <a [routerLink]="['/']"
         class="text-gray-900 text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-no-wrap uppercase"
         href="#pablo">
        JamSalam
      </a>
      <button
        (click)="setNavbarOpen()"
        class="cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none"
        type="button">
        <i class="fas fa-bars"></i>
      </button>
    </div>
    <div [ngClass]="{ hidden: !navbarOpen, block: navbarOpen }" class="lg:flex flex-grow items-center"
         id="example-navbar-warning">
      <ul class="flex flex-col lg:flex-row list-none mr-auto">
        <li class="flex items-center">

        </li>
      </ul>
      <ul class="flex flex-col lg:flex-row list-none lg:ml-auto">

        <li class="flex items-center">
          <a (click)="toCarousel()"
             class="hover:text-gray-600 text-gray-800 px-3 py-2 flex items-center text-xs uppercase font-bold">
            {{ 'navbar.volet.accueil' | translate}}
          </a>
        </li>

        <li class="flex items-center">
          <a (click)="toFormations()"
             class="hover:text-gray-600 text-gray-800 px-3 py-2 flex items-center text-xs uppercase font-bold">
            {{ 'navbar.volet.FORMATION_BIBLIOTHÈQUE' | translate}}
          </a>
        </li>
        <li class="flex items-center">
          <a (click)="toFormations2()"
             class="hover:text-gray-600 text-gray-800 px-3 py-2 flex items-center text-xs uppercase font-bold">
            {{ 'navbar.volet.ACTIVITÉS' | translate}}
          </a>
        </li>

        <li class="flex items-center">
          <a (click)="toGallerie()"
             class="hover:text-gray-600 text-gray-800 px-3 py-2 flex items-center text-xs uppercase font-bold">
            {{ 'navbar.volet.GALLERIE' | translate}}
          </a>
        </li>


        <li class="flex items-center">
          <a (click)="toEquipe()"
             class="hover:text-gray-600 text-gray-800 px-3 py-2 flex items-center text-xs uppercase font-bold">
            {{ 'navbar.volet.NOS_PARTENAIRES' | translate}}
          </a>
        </li>

        <li class="flex items-center">
          <a (click)="toContact()"
             class="hover:text-gray-600 text-gray-800 px-3 py-2 flex items-center text-xs uppercase font-bold">
            {{ 'navbar.volet.CONTACT' | translate}}
          </a>
        </li>

        <li *ngIf="!isAuth" class="flex items-center">
          <button [routerLink]="['/auth/login']"
                  class="bg-green-500 text-white active:bg-green-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                  type="button"
                  type="button">
            <i class="fas fa-arrow-alt-circle-down"></i>  {{ 'navbar.volet.SE_CONNECTER' | translate}}
          </button>
        </li>

        <li class="flex items-center">
          <a (click)="toAteliers()" *ngIf="isAuth"
             class="hover:text-gray-600 text-gray-800 px-3 py-2 flex items-center text-xs uppercase font-bold">
            <strong>Tableau de bord</strong>
          </a>
        </li>
        <app-index-dropdown></app-index-dropdown>
      </ul>
    </div>
  </div>
</nav>
